apps/expo/ios/Solidarity.xcodeproj/project.pbxproj linguist-generated=true
apps/expo/ios/Solidarity.xcodeproj/xcshareddata/xcschemes/solidarity.xcscheme linguist-generated=true
apps/expo/ios/Solidarity.xcworkspace/contents.xcworkspacedata linguist-generated=true
